<script>
    jQuery(window).load(function () {
        $('.piluku-preloader').addClass('hidden');
    });
</script>
<div class="piluku-preloader text-center">
    <!-- <div class="progress">
      <div class="indeterminate"></div>
  </div> -->
    <div class="loader">Loading...</div>
</div>
