<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" /> <!--320-->

    <title>Grupo Inside - Gerenciador</title>

    <link rel="shortcut icon" href="~/assets/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/assets/favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href="~/assets/css/bootstrap.css">
    <link rel='stylesheet' href="~/assets/css/material.css">
    <link rel='stylesheet' href="~/assets/css/style.css">
    <link rel='stylesheet' href="~/assets/css/sweet-alerts/sweetalert.css">
    <link rel='stylesheet' href="~/assets/css/colorbox.css">

    <link rel='stylesheet' href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/print.css" />

</head>