
@model bcquant.ModelView.PavimentoModelView

<!DOCTYPE html>
<html lang="en">

<body class="">

    <style type="text/css">
        li {
            list-style-type: none;
        }
    </style>

    <div class="wrapper ">
        <div class="content" id="content">

            <!-- Page Header -->
            <div class="page_header">
                <div class="pull-left">
                    <span class="main-text">Pavimento</span>
                </div>
            </div>
            <!-- /pageheader -->
            <!--main content-->
            <div class="main-content">


                <form class="form" id="formBasico">

                    @Html.HiddenFor(b => b.pavimento.CodPavimentos)

                    <div class="panel panel-piluku" id="dadosItem">

                        <div class="panel-heading">
                            <h3 class="panel-title">Inserir Novo Pavimento</h3>
                        </div>
                        <div class="panel-body">

                            <div class="col-md-6">
                                <div class="form-group group-item">
                                    <label class="control-label">Nome:*</label>

                                    @Html.TextBoxFor(e => e.pavimento.NomePavimentos, new { @class = "form-control", @placeholder = "", @maxlength = 200 })

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="submit" id="salvarItem" name="salvarItem" class="btn btn-success" value="Cadastrar" />
                                    <input type="submit" id="editarItem" name="editarItem" class="btn btn-success" value="Editar" style="display: none;" />
                                    <input type="button" id="cancelaEditar" name="cancelaEditar" class="btn btn-warning" value="Cancelar edição" style="display: none;" />

                                </div>
                            </div>
                        </div>

                        <!-- fim panel-piluku -->

                    </div>


                    <!-- ###################### inicio lista item ##################################-->
                    <div class="panel panel-piluku" id="listaUsuario">
                        <div class="panel-heading">
                            <h3 class="panel-title">Listagem</h3>
                        </div>
                        <div class="panel-body" id="listagemItem">
                            <div class="table-responsive">
                                <table id="tb_listagemPedido" class="table table-bordered table-hover table-striped display">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Nome</th>
                                            <th width="50px">Editar</th>
                                            <th width="50px">Deletar</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <!-- ###################### fim lista item  ##################################-->

                </form>
            </div>
        </div>
        <!-- fim content -->

    </div>

    <script src="~/js/Pavimento/Pavimento.js?v=2"></script>


</body>

</html>
